.col-10{
    margin-top: 50px!important;
    margin-left: 100px!important;
}
.header{
    background-color:#1E90FF;
}
.alert{
    width:1019px;
    margin-left: 100px;
}
.loginstat{
    
    color:red;
   
    
}