
 .login{
    width: 650px!important;
}
.login-card-body{
    width: 585px!important;
} 
.form-control{
    margin-left: 70px;
    margin-top: -35px;
    width: 450px;
}
.label{
    margin-left: -30px;
}
.gender{
    margin-left: 69px;
    margin-top: -24px;
}
.male{
    margin-left: 2px;
    margin-top: -28px;
}
.female{
    margin-left: 66px;
    margin-top: -31px;
}
.f{
    margin-left: 7opx; 
}
.others{
    margin-left: 147px;
    margin-top: -32px;
}
.dropdown{
    margin-left: 70px;
    margin-top: -35px;
}
