* {
  box-sizing: border-box;
}

body {
    background: #1C8EF9 !important;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
   
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: white;
  /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
  box-shadow: none;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}


.button{
  display: flex;
  justify-content: flex-start;
  }

.button1{
  display: flex;
  justify-content: flex-end;
 }


.loginstat{
  color: red;
}

.expstat1{
  color: blueviolet;
  font:bold;
}


.expstat1{
  color: blueviolet;
  font:bold;
  text-align: center;
}

.sstat{
  color: greenyellow;
  font-weight: bold;
  font-size: larger;
}

.forgot-password,
.forgot-password a {
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}