.login-card-body{
    width:450px;
    margin-left: 50px;
  
  
}
.login{
    width: 550px;
    margin-top: 100px;
    margin-left: 570px;
    border-color:#1E90FF;
    border-width: thin;
    
}
.myta{
    width:490px;
   margin-left: -25px;
}
.Experiment{
    width: 700px!important;
    margin-top: 100px;
    margin-left: 570px;
    border-color:#1E90FF;
    border-width: thin;
}
.Experi-card-body{
    width:675px;
    margin-left: 10px;  
}
.loginstat{
    color: red;
  }
  .l{
      margin-left: 1250px;
  }